body{
    font-family: poppins;
}
.slider img{
    min-height: 40vh;
}
.cover-img-brightness{
    filter: brightness(80%);
}
.theme-color{
    background-color: rgba(40, 155, 222, 1);
}
.text-justify{
    text-align: justify;
}
@media screen and (max-width:600px) {
.slider {
    font-size: 50%;
}
}